:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #111827;
  background-color: #05001a;
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #05001a;
  /* убираем flex-центрирование, чтобы экран стоял «прибитым» к верху */
}
body,
button,
input,
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

#root {
  width: 100%;
  max-width: 420px; /* «ширина телефона» */
  margin: 0 auto;   /* центрируем по горизонтали */
  padding: 16px;    /* отступы по краям окна */
}